<main class="corpo">
<div class="sky-container">
  <div class="shooting-star"></div>
  <div class="shooting-star"></div>
  <div class="shooting-star"></div>
  <div class="shooting-star"></div>
  <div class="shooting-star"></div>
  <div class="stars">
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
  </div>
</div>
<canvas id="canvas"></canvas>
</main>
