.container-404 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: transparent;
}
.container-title {
  width: 600px;
  height: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.title > * {
  display: inline-block;
  font-size: 200px;
}

.numero {
  text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  padding: 0 0.2em;
  font-family: "Russo One", sans-serif;
}

.subtitle {
  font-size: 25px;
  margin-top: 1.5em;
  font-family: "Lato", sans-serif;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.botao-404 {
  font-size: 22px;
  margin-top: 1.5em;
  padding: 0.5em 1em;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  color: white;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 999;
  border: 2px solid white;
  border-radius: 5px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease;
  text-decoration: none;
}
.botao-404:hover {
  opacity: 0.7;
}
.botao-404:focus {
  outline: 0;
}

.lua {
  position: relative;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #ff1177;
  -webkit-animation: rotate 5s ease-in-out infinite;
          animation: rotate 5s ease-in-out infinite;
}
.lua .rosto {
  top: 60%;
  left: 47%;
  position: absolute;
}
.lua .rosto .boca {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #5c3191;
  width: 25px;
  height: 25px;
  position: absolute;
  -webkit-animation: snore 5s ease-in-out infinite;
          animation: snore 5s ease-in-out infinite;
  transform: rotate(45deg);
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.3);
}
.lua .rosto .olhos {
  position: absolute;
  top: -30px;
  left: -30px;
}
.lua .rosto .olhos .olho-esquerdo,
.lua .rosto .olhos .olho-direito {
  border: 4px solid #5c3191;
  width: 30px;
  height: 15px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top: 0;
  position: absolute;
}
.lua .rosto .olhos .olho-esquerdo:before, .lua .rosto .olhos .olho-esquerdo:after,
.lua .rosto .olhos .olho-direito:before,
.lua .rosto .olhos .olho-direito:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #5c3191;
  top: -2px;
  left: -4px;
}
.lua .rosto .olhos .olho-esquerdo:after,
.lua .rosto .olhos .olho-direito:after {
  left: auto;
  right: -4px;
}
.lua .rosto .olhos .olho-direito {
  left: 50px;
}
@keyframes rotate {
  0%, 100% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(0deg);
  }
}
@keyframes snore {
  0%, 100% {
    transform: scale(1) rotate(30deg);
  }
  50% {
    transform: scale(0.5) rotate(30deg);
    border-bottom-left-radius: 50%;
  }
}
@media screen and (max-width: 580px) {
  .numero {
    font-size: 90px;
  }

  .subtitle {
    font-size: 18px;
    padding: 0 1em;
  }

  .lua {
    width: 80px;
    height: 80px;
  }

  .rosto {
    transform: scale(0.6);
  }
}
