<div class="container-404">
  <div class="container-title">
      <div class="title">
          <div class="numero">4</div>
          <div class="lua">
              <div class="rosto">
              <div class="boca"></div>
              <div class="olhos">
                  <div class="olho-esquerdo"></div>
                  <div class="olho-direito"></div>
              </div>
              </div>
          </div>
          <div class="numero">4</div>
      </div>
  <div class="subtitle">Oops. Tem algo errado na sua busca.</div>
  <a class="botao-404" routerLink="/home">Voltar ao Início</a>
  </div>
</div>
