<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
  <mat-toolbar class="nav-bar">
    <button mat-icon-button (click)="snav.toggle()" class="example-icon"><mat-icon class="icone" fontIcon="menu">menu</mat-icon></button>
    <a class="nome" routerLink="/home" (click)="snav.close()">Alef Bryan</a>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="over">
      <mat-nav-list class="lista">
        <a  routerLink="/primeiros-passos" mat-list-item class="button" routerLinkActive="active-button" ariaCurrentWhenActive="page" (click)="snav.toggle()">Primeiros passos</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet class="conteudo-principal"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<app-background-galaxy class="background"></app-background-galaxy>
